environment:
  mapr_core_version: {{ mapr_core_version }}
config:
  hosts:
{{ mapr_hostnames }}
  ssh_id: {{ sshusername }}
  ssh_password: {{ sshpassword }}
  security: True
  enable_nfs: True
  nfs_type: "NFSv4"
  cluster_admin_id: {{ ezdf.user }}
  cluster_admin_password: {{ ezdf.password }}
  custom_pbs_disable: false
  license_type: M5
  mep_version: {{ mapr_mep_version }}
  cluster_name: {{ ezdf['cluster_name'] | default('datafabric') }}
  disks:
{{ disks }}
  disk_format: true
  disk_stripe: 1
  db_admin_user: root
  db_admin_password: {{ ezdf.password }}
  log_admin_password: {{ ezdf.password }}
  metrics_ui_admin_password: {{ ezdf.password }}
  enable_encryption_at_rest: True
  services:
    template-60-maprxd:
    # template-05-converged:
    # mapr-ezotelcol:
    # mapr-opentsdb: # required for collectd
    # mapr-collectd:
    # mapr-data-access-gateway:
    # mapr-hivemetastore:
    #   database:
    #     name: hive
    #     user: hive
    #     password: mapr123
