environment:
  mapr_core_version: {{ df_core_version }}
config:
  hosts:
{{ mapr_hostnames }}
  ssh_id: {{ ansible_user }}
  ssh_password: {{ ansible_ssh_pass }}
  security: True
  enable_nfs: True
  nfs_type: "NFSv3"
  cluster_admin_id: {{ df_username }}
  cluster_admin_password: {{ df_password }}
  custom_pbs_disable: false
  license_type: M5
  mep_version: {{ df_mep_version }}
  cluster_name: {{ df_clustername | default('datafabric') }}
  disks:
{{ mapr_disks }}
  disk_format: true
  disk_stripe: 1
  db_admin_user: root
  db_admin_password: {{ df_password }}
  log_admin_password: {{ df_password }}
  metrics_ui_admin_password: {{ df_password }}
  enable_encryption_at_rest: True
  services:
    # template-05-converged:
    template-60-maprxd:
    mapr-grafana:
      enabled: False
    # mapr-ezotelcol:
    # mapr-opentsdb: # required for collectd
    # mapr-collectd:
    # mapr-data-access-gateway:
    # mapr-hivemetastore:
    #   database:
    #     name: hive
    #     user: hive
    #     password: mapr123
